* {
    font-size: 16px;
}

$accent: #6eeee4;
$dark: #262b2e;
$btnBg: #424648;
$grey: #505050;
$highlighter: #b2f2ee;
$gutter: 20px;

@mixin getOverlay ($blockBg: #f8fafa) {
    padding: 2.5rem $gutter;
    background-color: $blockBg;
}

@mixin getBlockHeading {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

@mixin getBlockTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@mixin getBlockSubTitle {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

/* fonts 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
*/

/* main styles */

a {
    color: #000;
    &:hover {
        text-decoration: none;
    }
}

.flexible-image {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-gap: $gutter;
    justify-content: space-around;
    align-content: center;
}

.nav-item {
    font-size: 10px;
}

.nav-link {
    font-size: 9px;
}

.header {
    min-height: 100vh;
    background-color: #eff0f2;
    align-content: space-around;
    text-transform: uppercase;
    text-align: center;
    padding: 30px $gutter;
    grid-template-columns: 1fr 1fr;
    .navbar {
        grid-column: 1 / 3;
        padding: 0;
        .navbar-brand {
            border: 5px solid #170f1c;
            padding: 5px;
        }
        .logo {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            .logo-accent {
                color: #77efe5;
                font-size: 1.3rem;
                text-shadow: -1px 0 #b3c2c3, 0 1px #b3c2c3, 1px 0 #b3c2c3, 0 -1px #b3c2c3;
            }
        }
        .navbar-toggler {
            justify-self: end;
        }
    }
    .header-title {
        grid-column: 1 / 3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        color: $grey;
        text-shadow: 3px 5px 5px #cecfd1;
        padding-top: 2rem;
        .mark {
            background-color: $highlighter;
            font-size: 1.5rem;
        }
    } 
    .header-button {
        grid-column: 1 / 3;
        justify-self: center;
    }
    .header-img {
        grid-column: 2 / 3;
    }
}

.btn {
    display: inline-block;
    border: 1px solid #61828f;
    padding: 10px 20px;
    &:hover {
        background-color: $accent;
    }
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    &:hover {
        color: #000;
    }
}

.overlay {
    @include getOverlay;
}

.heading {
    @include getBlockHeading;
    .title {
        @include getBlockTitle;
        font-size: 1.5rem;
    }
    .subtitle {
        @include getBlockSubTitle;
        font-size: 0.8rem;
    }
}
.carousel-inner {
    overflow: visible;
}
#carouselExampleIndicators_1, #carouselExampleIndicators_2 {
    margin-top: 2rem;
    .carousel-indicators {
        bottom: -50px;
        li {
            width: 10px;
            height: 10px;
            background-color: #d0d0d0;
            border-radius: 2px;
        }
        li.active {
            background-color: #71f6eb;
        }
    }
    .carousel-img-bg {
        background: #eff0f2;
        width: 280px;
        height: 280px;
        position: relative;
        margin: 0 auto;
        img {
            position: absolute;
            top: -15px;
            right: 5%;
            width: 248px;
            height: 313px;
            box-shadow: 0 0 10px 5px #f0f2f2;
        }
    }        
}

.item-title {
    padding-top: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
}
.item-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 0.7rem;
    margin: 0.5rem 0;
}

.featured {
    @include getOverlay ($blockBg: #fff);
    &__content {
        justify-items: center;
    }
    @for $i from 1 through 6 {
        &__content-#{$i} {
            width: 280px;
            height: 270px;
            background: url('../assets/img/banner-#{$i}.jpg') center center no-repeat;
            background-size: cover;
        }
    }
    
}

.service-items {
    grid-template-columns: repeat(12, 1fr);
    justify-items: space-between;
}

.service-item-1 {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #70f5eb;
    padding: 1rem;
    .item-title {
        padding-top: 0;
        text-align: left;
    }
    .cancel {
        display: block;
        width: 15px;
        height: 15px;
        background: url('../assets/img/cancel-icon.svg') center center no-repeat;
        background-size: cover;
        margin-top: 2rem;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}

@for $i from 2 through 6 {
    .service-item-#{$i} {
        position: relative;
        grid-column: 1 / 13;
        &:hover {
            .overlay-bg {
                display: block;
            }
            .item-content {
                display: block;
                .item-title {
                    text-align: left;
                }
            }
        }
    }
}

.service-image {
    display: block;
    height: 100%;
    width: 100%;
    grid-column: 1 / 13;
}

.overlay-bg {
    background-color: #000;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;
    height: 100%;
    width: 100%;
}

.item-content {
    display: none;
    color: #fff;
    position: absolute;
    bottom: 15%;
    left: 0;
    padding: 0 10%;
}

.btn-more {
    display: flex;
    align-items: center;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    .btn-text {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 0.7rem;
        color: #fff;
        text-transform: uppercase;
        margin-right: 0.5rem;
    }
    .arrow-right {
        display: inline-block;
        background: url('../assets/img/right-arrow.svg') center center no-repeat;
        width: 15px;
        height: 10px;
        background-size: cover;
    }
}

.overlay.team {
    @include getOverlay ($blockBg: #fff);
}

@for $i from 1 through 6 {
    .team-item-#{$i} {
        margin: 0 auto;
        background: url('../assets/img/team-#{$i}.jpg') center center no-repeat;
        background-size: cover;
        width: 280px;
        height: 350px;
        position: relative;
        .member {
            position: absolute;
            bottom: 5%;
            left: 5%;
            right: 5%;
            background-color: #70f6eb;
            padding: 20px;
            &:before {
                content: ''; 
                position: absolute;
                left: 15px; 
                top: -30px;
                border: 15px solid transparent;
                border-bottom: 20px solid #70f6eb;
            }
            @for $i from 1 through 4 {
                .social-item-#{$i} {
                    display: inline-block;
                    background: url('../assets/img/social-#{$i}.svg') center center no-repeat;
                    background-size: cover;
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            
        }
    }
}

.member-name {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #272727;
    margin-bottom: 0.4rem;
    .prof {
        font-family: 'Merriweather', serif;
        font-weight: 400i;
        color: #767070; 
        font-size: 0.8rem;
    }
}
.member-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

#carouselExampleIndicators_2 {
    .carousel-content {
        background-color: #eaebed;
        padding: 2.5rem 2rem;
        text-align: center;        
        .member-name {
            color: #000;
            .prof {
                color: #787878;
            }
        }
        .star {
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url('../assets/img/star.svg') center center no-repeat;
            background-size: cover;
        }
            
    }
}

.logos {
    @include getOverlay ($blockBg: #fff);
    grid-template-columns: 1fr 1fr;   
    &__item {
        display: block;
        align-self: center;
        justify-self: center;
    }
    .last {
        grid-column: 1 / 3;
    }
}

.contact-bg {
    background: url('../assets/img/form-bg.jpg') center center no-repeat;
    background-size: cover;
    grid-template-columns: repeat(12, 1fr);
}

.item-bg {
    background-color: #021623;
    opacity: 0.71;
    padding: 1.5rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.contact {
    grid-column: 1 / 13;
    .form-item {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        border-bottom: 1px solid #616e77;
        padding: 1.2rem 0 0.5rem;
        &::placeholder {
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 0.8rem;
        }
    }
    textarea {
        resize: none;
    }
}

.form-btn {
    background: none;
    color: #fff;
    outline: none;
    margin-top: 1.5rem;
}

.map {
    grid-column: 1 / 13;
    .web {
        margin: 1.5rem 0 1rem;
    }
    .google-map {
        width: 100%;
        height: auto;
    }
}

.footer {
    background-color: $dark;
    align-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 3rem 0;
    .footer-item {
        font-size: 0.8rem;
    }
    .footer-title {
        text-transform: uppercase;
        font-weight: 400;
    }
    .copy {
        margin-top: 1rem;
        font-weight: 500;
    }
    .social-bg {
        display: inline-grid;
        grid-column-gap: 1rem;
        background-color: $btnBg;
        padding: 10px;
        &:hover {
            background-color: $accent;
            @for $i from 1 through 4 {
                .footer-social-item-#{$i} {
                   width: 20px;
                    height: 20px;
                    background: url('../assets/img/footer-social-hover-#{$i}.svg') center center no-repeat;
                    background-size: cover; 
                }
            }
        }
    }
    @for $i from 1 through 3 {
        .social-bg-#{$i} {
            margin-right: 0.5rem;
        }
    }
    @for $i from 1 through 4 {
        .footer-social-item-#{$i} {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('../assets/img/footer-social-#{$i}.svg') center center no-repeat;
            background-size: cover;
        }
    }
}

@media all and (min-width: 481px) {
    
    @for $i from 1 through 6 {
        .team-item-#{$i} {
            &:hover {
                .member {
                    display: block;
                }
            }
            .member {
                position: absolute;
                display: none;
            }
        }
    }
}

@media all and (min-width: 576px) {
    .featured {
        &__content {
            grid-template-columns: 1fr 1fr;
        }
        @for $i from 1 through 6 {
            &__content-#{$i} {
                width: 250px;
                height: 240px;
            }
        }
        
    }
    .service-item-1, .service-item-3 {
        grid-column: 1 / 8;
    }
    .service-item-2, .service-item-4 {
        grid-column: 8 / 13;
    }
    .service-item-5 {
        grid-column: 1 / 6;
    }
    .service-item-6 {
        grid-column: 6 / 13;
    }
    .overlay.team {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }
    @for $i from 1 through 6 {
        .team-item-#{$i} {
            width: 250px;
            height: 320px;
        }
    }
    .logos {
        grid-template-columns: 1fr 1fr 1fr;   
        .last {
            grid-column: 1 / 4;
        }
    }
}

@media all and (min-width: 768px) {
    #carouselExampleIndicators_1 {
        .item-title {
            text-align: left;
        }
    }
    .featured {
        &__content {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @for $i from 1 through 6 {
            &__content-#{$i} {
                width: 235px;
                height: 225px;
            }
        }
        
    }
    .overlay.team {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @for $i from 1 through 6 {
        .team-item-#{$i} {
            width: 235px;
            height: 305px;
        }
    }
    .item-flex {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .carousel-img-bg {
        width: 50%;
        margin: 0 !important;
    }
    .carousel-content {
        width: 50%;  
    }
    #carouselExampleIndicators_2 {
        .carousel-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .logos {
        grid-template-columns: repeat(4, 1fr);   
        justify-items: space-around;
        .last {
            grid-column: 3 / 4;
        }
    }
    .contact {
        grid-column: 1 / 6;
    }
    .map {
        grid-column: 6 / 13; 
    }
}

@media all and (min-width: 992px) {
    * {
        font-size: 18px;
    }
    .nav-item {
        font-size: 16px;
    }
    
    .nav-link {
        font-size: 16px;
    }
    .logo {
        font-size: 1.3rem;
        .logo-accent {
            font-size: 1.6rem !important;
        }
    }
    .header-title {
        font-size: 2rem !important;
        .mark {
            font-size: 2rem !important;
        }
    }
    .navbar-collapse {
        flex-grow: 0 !important;
    }
    .navbar.navbar-expand-lg.navbar-light {
        justify-content: space-between;
    }
    #navbarSupportedContent {
        padding-top: 0;
    }
    .overlay {
        padding: 4rem $gutter;
    }
    .heading {
        .title {
            font-size: 1.5rem;
        }
        .subtitle {
            font-size: 1rem;
        }
    }
    .featured {
        @for $i from 1 through 6 {
            &__content-#{$i} {
                width: 280px;
                height: 270px;
            }
        } 
    }    
    @for $i from 1 through 6 {
        .team-item-#{$i} {
            width: 280px;
            height: 350px;
        }
    }
    .logos {
        padding: 4rem 0;
        grid-template-columns: repeat(7, 1fr);   
        justify-items: space-around;
        .last {
            grid-column: 7 / 8;
        }
    }
    
}